<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen flex px-20">
        
        <div class="w-1/2 flex items-center justify-center h-screen bg-blue-100">
            <div class="w-full px-25 ">
                <h4 class="text-4xl">Welcome to <span class="text-blue-400 font-semibold">Carrysia</span></h4>
                <h4 class="text-2xl mb-5">create your account</h4>
                
                <form autocomplete="off" action="/users/register" method="post">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] border-none rounded-md mb-3 " type="text" placeholder="Full Name">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] border-none rounded-md mb-3 "  type="email" placeholder="Email">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] border-none rounded-md mb-3 "  type="password" placeholder="Password">
                    <input class="bg-blue-500  w-1/2 px-5 py-3 rounded-md mt-2 "  type="submit" value="Submit">
                </form>
                
            </div>
        </div>
        <div class="w-1/2 flex items-center justify-center h-screen mx-15">
            
            <div class="w-full px-25 bg-green-100 ">
                <h4 class="text-2xl mb-5 mt-5">Login your account</h4>
                
                <form autocomplete="off" action="/users/login" method="post">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] border-none rounded-md mb-3 "  type="email" placeholder="Email">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] border-none rounded-md mb-3 "  type="password" placeholder="Password">
                    <input class="bg-blue-500  w-1/2 px-5 py-3 rounded-md mt-2 mb-5"  type="submit" value="login">
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>